
@import "./global.scss";
$min-normal-width:768px;

.cart-page-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
    height: 80;

    @media (max-width: $min-normal-width) {
        flex-direction: column;
        align-items: center;
    }

    
}
.cart-card{
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width:50% ;
    margin-bottom: 10px;
    @media (max-width: $min-normal-width) {
        width:80% ;
    }


}

.total-cost-card{
    padding: 10px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width:30% ;
    height: 150px;
    @media (max-width: $min-normal-width) {
        width:60% ;
    }
}





.one-chosen-item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 3%;
    border-bottom: 2px solid $primary-gray;
    font-weight: bold;

}

.one-chosen-item-photo{
    width: 50px;
    height: 50px;
}



.check-out-header{
    display: flex;
    height: 50px;
    width: 99%;
    padding: 5px;
    justify-content: space-between;
    font-weight: bolder;
    font-size: x-large;
    color: $primary-gray;
    border-bottom: 2px solid $primary-gray;
    
}

.check-out-buttons-containers{
    display: flex;
    
    margin-right: 5%;
}


@mixin update-confirm-button{
    font-size: large;
    padding: 4px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
   
    &:hover{
        cursor: pointer;
    }
}

.update-cart-button{
    @include update-confirm-button;
    background-color: orangered;
    &:hover{
        background-color: rgb(255, 107, 53)

    }

}
.check-out-button{
    @include update-confirm-button;
    background-color: rgb(6, 9, 129);
    margin-top: 4px;
    font-weight: normal;
    font-size: medium;
    text-align: center;
    &:hover{
        background-color: rgb(65, 47, 233);
    }
}


.update-icons-container{
    display: flex;
    flex-direction: row;
}

.one-cost-line{
    display: flex;
    flex-direction: row;
    font-weight: normal;
    justify-content: space-between;
    font-size: large;
}
