.navBar-container {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100% !important;
    height: 100px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    box-sizing: border-box;
}
.navBar-logo {
    height: 60px;
    background-size: cover;
}
.navBar-links-container {
    display: flex;
}
.navBar-link {
    margin-right: 24px;
    font-size: large;
    &:hover {
        cursor: pointer;
        color: black;
        font-weight: bold;
    }
}
.navBar-button {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: none;
    color: white;
    width: 120px;
    height: 40px;
    font-size: large;
    &:hover {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
        cursor: pointer;
        font-size: x-large;
    }
}
